@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;700&display=swap');
body{
    font-family: 'Nunito', sans-serif;
}
.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: yellowgreen;
    transition: all 5s ease-in-out;
}
.frase-container{
    max-width: 1024px;
    width: 100%;
    padding: .5rem 1.5rem;
    text-align: center;
    background-color: #f2f2f2;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
    border-width: 5px 0;
    border-style: solid;
    animation: changeborder 3s ease-in-out infinite alternate;
    position: relative;

}
@keyframes changeborder {
    from{
        border-color: orangered ;
    }
    to{
        border-color: #FFC83D;
    }
}
.frase{
    font-size: 1.5rem;
    margin: 1rem 0 ;
    color: #333;
}

.emoji{
    display: block;
    font-size: 1.5rem;
    margin-top: 1.5rem;
}
.type{
    display: inline-block;
    margin-bottom: 1.5rem;
    font-weight: 200;
    font-style: italic;
}
.type::before{
    content: "-";
    display: block;
    line-height: 10px;
}
.number{
    position: absolute;
    top: 2rem;
    right: 1.5rem;
    font-weight: 200;
    
}





