@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;700&display=swap');

:root {
    --color-primary: #121F3D;
    --color-one: rgb(198, 123, 248);
    --color-two: rgb(252, 23, 23);
    --color-three: rgb(238, 241, 10);
}

body {
    font-family: 'Nunito', sans-serif;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-primary);
    position: relative;
    z-index: 100;
}

.frase-container {
    max-width: 768px;
    padding: .5rem 1.5rem;
    text-align: center;
    border-radius: 20px;
    color: rgb(242, 242, 242);
    background-color: var(--color-primary);
    position: relative;

   
}

.frase-container::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: -2px;
    border-radius: inherit;
    background: linear-gradient(45deg, var(--color-one) 10%, var(--color-two) 60%, var(--color-three) 100%);
}

.shadow {
    background: linear-gradient(45deg, var(--color-one) 0%, var(--color-two) 50%, var(--color-three) 100%);
    border-radius: 10px;
    width: 95%;
    height: 105%;
    position: absolute;
    top: -0.20rem;
    left: 1rem;
    /* transform: rotate(358deg); */
    z-index: -1;
    animation: tambaleo 10s infinite ease-in-out;
}

.frase {
    font-size: 1.3rem;
    margin: 1rem 0;
}

.number {
    font-weight: 200;
    font-size: .9rem;
    display: block;
    color: rgba(242, 242, 242, .4);
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 10px;
}

@media screen and (max-width: 768px) {
    .frase-container {
        width: 95%;
    }

    .shadow {
        left: 0.5rem;
    }
}
@keyframes tambaleo {
    0% {
        transform: translate(0, 0) scaleX(1) scaleY(1);
    }
    10% {
        transform: translate(-5px, -5px) scaleX(0.95) scaleY(1.05);
    }
    20% {
        transform: translate(5px, -5px) scaleX(1.05) scaleY(0.95);
    }
    30% {
        transform: translate(-5px, 5px) scaleX(0.95) scaleY(1.05);
    }
    40% {
        transform: translate(5px, 5px) scaleX(1.05) scaleY(0.95);
    }
    50% {
        transform: translate(-5px, -5px) scaleX(0.95) scaleY(1.05);
    }
    60% {
        transform: translate(5px, -5px) scaleX(1.05) scaleY(0.95);
    }
    70% {
        transform: translate(-5px, 5px) scaleX(0.95) scaleY(1.05);
    }
    80% {
        transform: translate(5px, 5px) scaleX(1.05) scaleY(0.95);
    }
    90% {
        transform: translate(-5px, -5px) scaleX(0.95) scaleY(1.05);
    }
    100% {
        transform: translate(0, 0) scaleX(1) scaleY(1);
    }
}