@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;700&display=swap');

:root{
    --color-primary: #121F3D;
    --color-secondary: aquamarine;
}
body{
    font-family: 'Nunito', sans-serif;
}
.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-primary);
    position: relative;
    z-index: 100;
}
.frase-container{
    max-width: 1024px;
    padding: .5rem 1.5rem;
    text-align: center;
    border: 1px solid var(--color-secondary) ;
    border-radius: 20px;
    color: #f2f2f2;
    background-color: var(--color-primary);
    position: relative;
}
.shadow{
    background-color: var(--color-secondary);
    border-radius: 10px;
    width: 95%;
    height: 102%;
    position: absolute;
    top: -0.25rem;
    left: 1rem;
    transform: rotate(358deg);
    z-index: -1;
}
.frase{
    font-size: 1.5rem;
    margin: 1rem 0 ;
}
.type{
    display: inline-block;
    margin-bottom: 1.5rem;
    font-weight: 200;
    font-style: italic;
}
.type::before{
    content: "-";
    display: block;
    line-height: 10px;

}
.number{
    font-weight: 200;
    font-size: 1rem;
    margin-top: 1.5rem;
    display: block;
}
@media screen and (max-width: 768px) {
    .frase-container{
        width: 95%;
    }
    .shadow{
        left: 0.5rem;
    }
}




